body.dark-background {
  background-color: black;
  color: white;
}

.box {
border: solid grey;
background-color: yellow;

}




#walrus-showing {
display: none;
}

#icecream-showing {
  display: none;
}
#learn-showing {
  display: none;

}

.clickable {
  cursor:pointer;
  color:lightskyblue;
}
.clickable:hover {
  text-decoration:underline;
}

.clickable2 {
  cursor:pointer;
  color:lightskyblue;
}
.clickable2:hover {
  text-decoration:underline;
}
.clickable21 {
  cursor:pointer;
  color:lightskyblue;
}
.clickable21:hover {
  text-decoration:underline;
}
.clickable3 {
  cursor:crosshair;
  color:green;
}
.clickable3:hover {
  text-decoration:underline;
}
